#body{
	background: url(ImagenesBio/fondo.jpg);
	margin: 0;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

}
/*--------------------------------------barra de navegacion*/
#colorbarra{	
    width: 1600px;  /*tamaño del contenedor o caja*/		
	text-align: center;  
	margin: 15px auto;  			
	padding: 20px;			
	border: 5px solid #A9F5BC;
	/*LAS NUEVAS REGLAS DE CSS3 PERMITEN REDONDEAR LAS ESQUINAS DE LA CAJA*/
	border-radius: 20px;			
	box-shadow: 20px 20px 60px 20px #8A0868 inset;
	background:linear-gradient(top, red, gold);
	-webkit-transform: scale(1);  
	text-shadow: yellow 3px 3px 5px;
}
#menu  li {
	display: inline-block;
}
#menu  li a {

	color:yellowgreen; /*coloca el colora al letras del links*/
	display: block;
	padding: 20px 91px;/* coloca por bloques los linsk y de fine los espacios entre linkns*/	
	text-decoration: none; /*quita el subrrayado de los links */
}
#menu  li a:hover{
	background-color:lightslategray;
	border-radius: 40px;
}
/*--------------------------------------barra lateral*/
#barralateral{
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5 ));
	background-size: 50%;
	float: left;  /*colocará la barra alineado a la izquierda*//*el float da la poscicion de la barra isquierda*/
	height:3500px;   /*aumenta el tamaño de la barra*/
	margin-left:10px;
}

/*--------------------------------------section contenido central del cuerpo */
#contenido{	
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5 ));
	background-size: 10%;		
	padding-left: 10px;  
	padding-top: 10px;
	padding-right: 10px;
	margin-right: 20px;
	margin-left: 450px;	
}
.texto1{
	font-size: 25px; /*esto es para el tamno de la letra*/ 
	line-height: 1.5; /*esto separa el espacio de letras*/
	text-align: justify; /*txt por defecto */
	border: 8px solid #01DF3A;
	border-radius: 50px;
	padding-top: 10px;	/*espacio de tex superior*/ 
	margin-right: 15px;/*fuera del margen derecha*/ 
	margin-left: 10px;/*fuera del margen izquierda*/ 
	padding-left: 10px;/*margen de letras izquierda*/ 	
	padding-right: 10px;/*margen de letras derecha */ 

	background: linear-gradient(45deg, rgba(255, 0, 0, 0.5), rgba(255,255, 0, 0.5), green 100%);	
}

.texto img{ /* estro realiza lo que es el separado del texto con la imagen  */
	
	margin-left: 25px;
	margin-top: 35px;
}
#imagen {
	margin-left: 25px;
	margin-top: 35px;	
	border-radius: 40px;
	margin-right: 20px;
	border: 10px solid sandybrown;
	outline-color: sandybrown;
	outline-style: ridge;
	outline-width: 8px;
	position:relative;/*manteine la pocion en us lugar*/
}
img:hover /*efecto de crecimiento en la galeria de fotos */
{	
		transform: scale(1.3);
}
#TabPit
{
	z-index: 1;
	width: 400px;
	height: 300px;
	padding: 30px;
	box-shadow: black 10px 20px 5px;
	border: 1px solid black;

}
/* -----------------------------APLICA EN EL TITULO DE BIOLOGIA degradado interno*/
#principal{
	width: 900px; /*tamaño del contenedor o caja horizontal*/		
	text-align: center; /*texto del tituo centrado*/ 
	margin: 40px auto;  /*margen*/				
	border: 5px solid #A9F5BC;/*color del borde del titulo*/			
	border-radius: 15px; /*espesor del margen*/			
	box-shadow: 20px 20px 60px 20px blue inset; /*degradado interno*/	
}
#titulo{
	font: bold 100px verdana, geneva, chiller;
			/*también se puede colocar sombra al texto*/
	text-shadow: yellow 3px 3px 5px;
			/*establecemos la transparencia al texto, los valores 0 hacen referencia al color negro*/
	color: rgba(0,0,0,0.5);
}
/* ----------------------------------------FIN DEL TITULO DE BIOLOGIA */

radio

/************************propiedades de css para el menu desplegable*/

.cont-menu{
    width: 400px;
    margin: 10px auto;
    float: left;  /*colocará la barra alineado a la izquierda*//*el float da la poscicion de la barra isquierda*/
	margin-left:10px;
	margin-right: 10px;
	background: url(https://th.bing.com/th/id/R.bdf5ab4b65be9bb6e31516f85c99aa01?rik=zC6%2fRqvEcf9NFg&pid=ImgRaw&r=0.jpg); 
    background-size: 100% 100%;
}

.cont-menu .cont-enlace{
    box-shadow: 0px 0px 2px 1px white; /*margen de desplazamiento*/
}

/* Estilos para las opciones */
.cont-menu .cont-enlace .opcion{
    display: flex;
    justify-content: space-between;
         /**background:linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple);/**/
    background: url(https://www.geneious.mx/wp-content/uploads/2015/09/celular.jpg); 
    background-size: 100% 100%;
    color: white;
    padding: 13px 15px;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
}

/* Estilos para el simbolo '+' */
.cont-menu .cont-enlace .opcion .icono{
    background-color: white;
    color: blueviolet;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    width: 26px;
    border-radius: 5px;
}

/* Efecto para aparacer y desaparecer enlaces */
.cont-menu .cont-enlace .enlace{
    height: 0;
    overflow: hidden;
}

.cont-menu .cont-enlace .animation{
    height: 100%;
}

/* Estilos para los enlaces */
.cont-menu .cont-enlace .enlace a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: rgba(0,0,0,.8);
    background-color: white;

}

.cont-menu .cont-enlace .enlace a:hover{
    background-color: #1a567e;
    color: red;
}
/*fin de menu de desplazamiento*/

footer{
	border-radius: 20px;
  border: 10px solid sandybrown;
	width: 98%;
	margin: 0px auto;
	outline-style: ridge;
	outline-width: 10px;
	background: darkgreen;
	padding-top: 50px;
}
#bot{
	text-align: center;
	width: 100px;
	height:100px;
}
#bot img{
	width: 100px;
	height:100px;
}
#PosBoton
{
	position: fixed;
	bottom: 20px;
	right: 10px;
}
.boton /*Aqui añadimos un estilo a nuestro botón*/
{
	text-decoration: none;
	padding: 10px;
    font-weight: 600;
    font-size: 40px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 20px;
    border: 2px solid #0016b0;
    z-index: 3;
}
.boton:hover /*Esta opción nos permite cambiar el color del botón cuando el mouse esta sobre el botón*/
{
	color: #1883ba;
	cursor: pointer;
    background-color: #C3FFFA;
}
.boton2 /*Aqui añadimos un estilo a nuestro botón*/
{
text-decoration: none;
padding: 2px;
font-size: 22px;
color: #ffffff;
background-color: #b96d08;
border-radius: 10px;
border: 2px solid #00010a;
}
.boton2:hover 
{
color: yellow;
cursor: pointer;
}
.boton2:active
{
	color: red;
	text-shadow: -1px -2px #cccccc;
}
.container-footer-all{
	width: 100%;
	max-width: 1100px;
	margin: auto;
	text-shadow: black 3px 3px 5px;
	padding: 40px;
}
.container-body{
	display: flex;
	justify-content: space-between; 
}
.colum1{
    max-width: 400px;
    position: relative; /*Posición de los integrantes*/
    bottom: -50px;
}
.colum1 h1{
	font-size: 22px;
	margin-top: -150px;

}
.colum1 p{
	font-size: 22px;
	color: #C7C7C7;
	margin-top: 20px;
}
.colum2{
    max-width: 400px;

}
.colum2 h1{
	font-size: 22px;
	margin-left: 100px;
}
.colum2 .row{
	
	margin-top: 20px;
	display: flex;
	margin-left: 100px;
}
.row img{
	width: 36px;
	height: 36px;
}
.row label{
	margin-top: 10px;
	margin-left: 20px;
	color: #C7C7C7;
}
.colum3{
	max-width: 400px;
}
.colum3 h1{
	text-align: center;
	font-size: 22px;
	margin-top: -80px;

}
.row2 {
	margin-top: 20px;
	display: flex;

}
.row2 img{
	width: 40px;
	height:40px;
}
.row a{
	margin-top: 10px;
	margin-left: 20px;
	color: #C7C7C7;
}
.row a:hover
{
	color: yellow;
	cursor: pointer;
}
.row a:visited
{
	color: #FF7CF1;
}
.row a:link
{
	color: #C7C7C7;
}
.container-footer {
	width: 100%;
	background: #101010;  
}
.footer{
	max-width: 1200px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
.foot2{
	color: darkgreen;

}
/*Responsive*/
@media screen and (max-width:  700px){
	#nav
	{
		display: inline-block;
		font-size: 20px;
	}
}