body {
  background-image: url(https://www.indisa.cl/files/2020/08/portada-imagenologia.optimizada.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

nav {
  margin-top: 10px;
  text-align: center;
}

.boton-letras {
  border: none;
  background: none;
  color: #000;
  font-size: 16px;
}

nav ul button li:hover {
  background-color: #2ECC71;
  border-radius: 5px;
  transform: scale(1.2);
}

nav ul button {
  display: inline-block;
  list-style: none;
  margin-top: 40px;
}

nav li {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

nav ul li {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

nav ul button li {
  display: block;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
}

nav ul button li:hover {
  position: relative;
}

.oculto0 {
  display: none;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

nav li {
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

nav img {
  margin-right: 10px;
}

.container {
  display: inline-flex;
}






.contenido{	
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5 ));
  width: 380px;
  height: auto;
  margin: 0 auto;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  padding: 20px;
}
.texto1 img{
  margin-right: 10px;
  margin-top: 10px;
  position:relative;
  width: 210px;
  height: 210px;
  float: left;
}

table {
  margin: 0 auto;
  text-align: left;
  border-collapse: separate;
  border-spacing:0 5px ;
  width: 100%;
}
td{
  padding: auto; 
}
label {
  display: block;
  margin-bottom: 5px;
  font-family: "Latin Modern Roman"; font-style: italic;
  color: white;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;}
input{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5 ));
  color: aliceblue;
}
select{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5 ));
  color: white;
}
option{
  color:black;
}


button {
  background-color: #66ca5d;
  border: 1px solid #999;
  color: white; /* Color del texto */
  padding: 10px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
  text-transform: uppercase;
}


.form-buttons {
  text-align: center; /* Centrar horizontalmente */
  margin-top: 10px; /* Espacio entre el formulario y los botones */
}
h1{
  text-align: center;
}
a{
  text-decoration: none;
  color: aliceblue;
}

      